.online td {
	vertical-align: top;
	padding: 10px;
}

.offline td {
	vertical-align: top;
	padding: 10px;
}

.title {
	text-align: center;
	color:#fff;
	font-family: 'Playfair Display', serif;
	margin: 0;
}

.header {
	background-color: #8892BF;
	padding: 20px;
}

.table {
	width: auto;
}
